/* This is where all of your styling goes. This gets imported to the HTML file inside of the <link> </link> tag in the <head></head> of the HTML */

/* This says all h1 tags should have the following style property */
h1 {
    /* their text color should be blue */
    color: blue;
  }


  #extra {
    color: orange
  }

  body {
    font-family: courier;
  }

  h1 {
    /* rules: values; */
    color: green;
    text-decoration: underline;
    font-size: 100px;
    font-family: cursive;
  }

  h2 {
    color: red;
    text-decoration: underline
  }

  .clippers {
    color: blue
  }

  .fifa {
    color: red
  }

  img {
    display: block;
    height: 500px;
    width: 800px;
  }

  #like-button {
    display: block;
  }