#titles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "tic . player";
    text-align: center;
}
h1{
    grid-area: tic;
    color: blue;
    display: inline-block;
}
p{ 
    grid-area: player;
    display: inline-block;
    font-size: 2rem;
}

#board{
    display: grid;
    grid-template-rows: repeat(3, minmax(5rem, 1fr));
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
    grid-template-areas: "one two three" "four five six" "seven eight nine";
    text-align: center;
    padding: 1rem 3rem;
    
}

#s-1 {
    grid-area: one;
    border-right: solid .1rem black;
    border-bottom:solid .1rem black; 
    display: grid;
    /* padding: 3rem; */
}

#s-2{
    grid-area: two;
    border-right: solid .1rem black;
    border-bottom:solid .1rem black; 
    display: grid;
}
#s-3{
    grid-area: three;
    /* border-right: solid .1rem black; */
    border-bottom:solid .1rem black; 
    display: grid;
}
#s-4{
    grid-area: four;
    border-right: solid .1rem black;
    display: grid;
}
#s-5{
    grid-area: five;
    border-right: solid .1rem black;
    display: grid;
}

#s-6{
    grid-area: six;
    display: grid;
}
#s-7{
    grid-area: seven;
    border-right: solid .1rem black;
    border-top:solid .1rem black; 
    display: grid;
}
#s-8{
    grid-area: eight;
    border-right: solid .1rem black;
    border-top:solid .1rem black; 
    display: grid;
}
#s-9{
    grid-area: nine;
    border-top:solid .1rem black; 
    display: grid;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine{
    align-self: center;
    font-size: 5rem;
    color: black;
}