/* This is where all of your styling goes. This gets imported to the HTML file inside of the <link> </link> tag in the <head></head> of the HTML */

/* This says all h1 tags should have the following style property */
h1 {
    /* their text color should be blue */
    color: blue;
  }

/* The . indicates that this is a class - it says that all elements with a class of 'fifa' should have red text */
.fifa {
  color: red;
}

.boat {
  color: blue;
}

/* The # indicates that this is an id - ids must be unique, and because of this, they are more specific selectors than either classes or tags - this id selector will overwrite any class selectors or tag selectors on the element that holds it */
#extra {
  color: orange;
}